/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Default styles starts */
body {
    font-family: 'Segoe UI', sans-serif;
    background: #fafff1;
}
header {
    background: #fafff1;
    padding: 20px;
}
/* Default styles ends */


/* Navigation Bar styles starts */
nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #0077cc;
}
/* Navigation Bar styles ends */

/* Main section styles start */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about-me h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-me p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about-me p:last-of-type {
    margin-bottom: 0;
}
/* Main section styles end */

/* Footer styles starts*/
footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
    flex-direction: row;
}

.social-icons a {
    color: #333;
    padding: 10px;
    font-size: 36px;
    text-decoration: none;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #777;
}
/* Footer styles end*/


/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
}
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display:none;
        position: absolute;
        background-color: #f1f1f1;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 1%;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #f1f1f1;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;

    }
    .hamburger {
        display: block;
        padding-top: 20px;
    }

    .card {
        width: 90%;
        margin: auto auto auto auto;
    }
}
/*RESPONSIVE NAVBAR MENU ENDS*/