/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Default styles starts */
body {
    font-family: 'Segoe UI', sans-serif;
    background: #fafff1;
}
header {
    background: #fafff1;
    padding: 20px;
}
/* Default styles ends */


/* Navigation Bar styles starts */
nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #0077cc;
    text-decoration: none;
}
/* Navigation Bar styles ends */

/* Main section styles start */
main {
    max-width: 800px;
    align-items: center;
    text-align: center;
}
.main h2 {
    text-align: center;
}

.main ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    margin: 0;
    list-style: none;
}

.main ul li {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
}
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display:none;
        position: absolute;
        background-color: #f1f1f1;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 1%;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #f1f1f1;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;

    }
    .hamburger {
        display: block;
        padding-top: 20px;
    }

    .card {
        width: 90%;
        margin: auto auto auto auto;
    }
}
/*RESPONSIVE NAVBAR MENU ENDS*/